/*this will be splinter says custom style*/
#container-fluid {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 440px;
	top: 30%;
}
#center {
	position: relative;
	left: 35%;
	top: 25%;
	background-image: url("/img/splinter.png");
	background-color: burlywood;
}
#red {
	position: relative;
	left: -29px;
	top: -15%;
	background-image: url("/img/raphael.png");
	background-color: pink;
}
#purple {
	position: relative;
	left: 375px;
	top: -75px;
	background-image: url("/img/donatello.png");
	background-color: orchid;
}
#blue {
	position: relative;
	top: 125px;
	left: -29px;
	background-image: url("/img/leonardo.png");
	background-color: lightblue;
}
#orange{
	position: relative;
	top: -275px;
	left: -25px;
	background-image: url("/img/michelangelo.png");
	background-color: coral;
}
#page {
	background-image: url("/img/tpower_bg.jpg");
	overflow: hidden;
}
.tracker {
	text-align: center;
	color: ghostwhite;
}
.btn {
	color: black;
}
#start {
	position: absolute;
	top: 15%;
	left: 670px;
}
.tile {
	border: 1px solid ghostwhite;
	padding: 3px;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 200px;
	width: 200px;
	background-size: 100% 100%;
	opacity: .2;
}
.active {
	opacity: 1;
}
.hover {
	opacity: 1;
}